*{
    margin: 0;
    padding: 0;
}
/* .clockarea{
    width: 40vw;
    height: 70vh;
    background-color: black;
    margin-left: 29vw;
    margin-top: 15vh;
} */
/* .clock{
    background-color: white;
    color: white;
} */
